<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - Nos amis les oiseaux</title>
</head>
<body>

{% block body %}
{% endblock %}
<hr>
<a href="/">Retour à l'accueil</a>

</body>
</html>