{% extends "CoreBundle::layout.html.twig" %}

{% block title %}Ajout d'une observation{% endblock %}

{% block body %}
    {% for flash_message in app.session.flashBag.get('info') %}
        <div class="flash-notice alert alert-info">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

    <h1>Saisie d'une observation</h1>

    {{ form_start(form)}}

    {{ form_widget(form) }}

    {{ form_end(form) }}
{% endblock %}