{% extends "CoreBundle::layout.html.twig" %}

{% block title %}Connexion{% endblock %}

{% block body %}
    Ici se trouvera un formulaire de connexion.
    <br>
    Une fois connecté, l'interface d'administration devient accessible : <a href="/admin">Page d'administration</a>
    <br>
    Les utilisateurs pourront y modifier leur nom d'utilisateur, mot de passe et photo de profil.
{% endblock %}