{% extends "CoreBundle::layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
    Ici se trouvera la future page d'accueil.

    Accéder aux autres pages du site : <br>
    <ul>
        <li><a href="/map">Carte interactive</a></li>
        <li><a href="/add">Ajouter une observation</a></li>
        <li><a href="/login">Se connecter</a></li>
        <li><a href="/admin">Page d'administration</a></li>
        <li><a href="/association">Association</a></li>
        <li><a href="/legal">Mentions légales</a></li>
    </ul>
{% endblock %}