{% extends "CoreBundle::layout.html.twig" %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h4>Bonjour {{ app.user.username }}</h4>
    Ici se trouvera la page d'administration (modifier son profil, valider une observation pour un naturaliste, ...)
{% endblock %}