{% extends 'HWIOAuthBundle::layout.html.twig' %}

{% block hwi_oauth_content %}
<link rel="stylesheet" href="{{ asset('bundles/core/css/registration.css') }}">

    <h3>{{ 'header.registration_success' | trans({'%username%': app.user.username}, 'HWIOAuthBundle') }}</h3>
{% endblock hwi_oauth_content %}
