body{
    background-color: #f3d6a8;
}



input[type="text"].form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: "ComfortaaB", Arial;
    color:#1C5F83;
}

input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: "ComfortaaB", Arial;
    color:#1C5F83;
}
input[type="text"]::-moz-placeholder { /* Firefox 19+ */
    font-family: "ComfortaaB", Arial;
    color:#1C5F83;
}
input[type="text"]:-ms-input-placeholder{ /* IE 10+ */
    font-family: "ComfortaaB", Arial;
    color:#1C5F83;
}
input[type="text"]:-moz-placeholder { /* Firefox 18- */
    font-family: "ComfortaaB", Arial;
    color:#1C5F83;
}

input[type="text"], input[type="date"], input[type="time"] {
    background-color: #f3d6a8;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    border-bottom: 1px solid #1C5F83;
    margin-bottom: 20px;
    font-family: "ComfortaaB", Arial;
    color:#1C5F83;

}

label{
    font-family: "ComfortaaB", Arial;
    color:#1C5F83;
}

textarea.form-control {
    height: 150px;
    border-radius: 8px;
    box-shadow: none;
    border: 2px solid #7EBEA5;
    font-family: "ComfortaaB", Arial;
    color:#1C5F83;
    background-color: #f3d6a8;
}


.select2-container .select2-choice>.select2-chosen{
    background-color: #f3d6a8;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    font-family: "ComfortaaB", Arial;
    color:#1C5F83;
    border-bottom: 1px solid #f3d6a8;
}




#submitButton{
    text-align: center;
    margin:2% 0 2% 0;
}



.btn-file {
    position: relative;
    overflow: hidden;
    background:url('../img/prendre-une-photo.png') no-repeat;
    width: 122px;
    height: 122px;
    text-decoration:none;
    border-style: hidden;
    background-color: #f3d6a8;
    margin-bottom: 20px;
}

.btn-file:hover{
    background-color: #f3d6a8;
}


input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

.btnSubmit{
    background-color: #7ebea5;
    border-color: #7ebea5;
    color: white;
    font-family: "ComfortaaB", Arial;
}

#getfilename{
    margin-bottom: 30px;
    text-align: center;
    font-family: "ComfortaaB", Arial;
    color:#1C5F83;
}

@media screen and (min-width: 800px){
    .btn-file {
        position: relative;
        overflow: hidden;
        background:url('../img/importer-une-photo.png') no-repeat;
        width: 120px;
        height: 120px;
        text-decoration:none;
        border-style: hidden;
        background-color: #f3d6a8;
    }
    .btn-file:hover{
        background-color: #f3d6a8;
    }

    #description{
        margin-top: -25px;
    }

    #getfilename{
        margin-bottom: 30px;
        text-align: center;
        font-family: "ComfortaaB", Arial;
        color:#1C5F83;
    }
}