@font-face {
    font-family: "ComfortaaR";
    src: url('../font/comfortaa/Comfortaa-Regular.ttf')
}
.observationContainer{
    width: 310px;
    height: 400px;
    background: url("../img/port.png");
    background-size: cover;
    margin: 2px 10px 30px 10px;
    font-family: "ComfortaaB", Arial;
    padding-bottom: 5px;
}
.link{
    padding: 4%;
    font-size: 1.1em;
    margin-top: 5%;
}
.layer{
    background-color: rgba(243,214,168,0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:15px;
    padding: 4%;
}
.contain{
    margin-top: 35%;
}
.role, .user{
    color:#824714;
}
.user{
    font-size: 1.2em;
}
.role{
    font-family: "ComfortaaR", Arial;
}
.profilePicture{
    border-radius: 50%;
    width: 100%;
}

.imgObservation{
    width: 160px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}
.nameBird, .lat, .lon{
    color: #195D83;
    margin-left: 15px;
}
.nameBird{
    margin-bottom: 20px;
    font-size: 1.1em;
}
.date{
    font-size: 12px;
}

@media screen and (min-width: 800px){
    .observationContainer {
        width: 350px;
        height: 350px;
    }
    .nameBird, .lat, .lon{
        margin-left: 0;
    }
}