body{
    background: url("../img/login.png") fixed no-repeat;
    background-size: cover;
    width: 100%;
}
form label{
    color:#1C5F83;
    font-family: "ComfortaaB", Arial;
}
#registrationContainer, #loginContainer, #requestResetPasswordContainer, #resetPasswordContainer{
    background-color: rgba(126, 190, 165, 0.8);
    padding: 6%;
    margin:12% 2% 12% 2%;
    border-radius: 3%;
}
#registrationSocialMedia, #loginSocialMedia{
    margin-top: 15%;
}
#registrationBtn, #loginBtn, #requestResetPasswordBtn, #resetPasswordBtn{
    text-align: right;
}
#registrationBtn input, #loginBtn input, #requestResetPasswordBtn input, #resetPasswordBtn input{
    background-color: #387392;
    border-color: #387392;
    color:white;
    font-family: "ComfortaaB", Arial;
}
#username, #password{
    margin-bottom: 8%;
    width: 100%;
}
#linkRegister{
    color: white;
    font-family: "ComfortaaB", Arial;
    margin-bottom: 5%;
    margin-top: 8%;
}
.registrationTitle, .loginTitle, .requestResetPasswordTitle, .resetPasswordTitle{
    font-family: "ComfortaaB", Arial;
    font-size: 1.3em;
    margin-bottom: 10%;
    color:white
}
.facebook{
    width:23%;
}
.loginSocialMedia{
    margin: 0 2% 5% 2%;
}

@media screen and (min-width: 800px){
    #registrationContainer, #loginContainer, #requestResetPasswordContainer, #resetPasswordContainer{
        text-align: center;
        margin: 4% 4% 4% 4%;
    }
    #registrationSocialMedia, #loginSocialMedia{
        margin-top: 5%;
    }
    .facebook{
        width:15%;
    }
}