select{
    margin-bottom: 3%;
}
#mapid{
    height: 400px;
    margin-top: 11%;
}
#clearMap{
    margin-top: 5%;
    margin-bottom: 8%;
    right: 5%;
    width: 20%;
    position: absolute;
}
.alert-success_lat, .alert-success_lon{
    display: none;
}