select{
    margin-bottom: 2%;
}
#mapid{
    height: 400px;
    margin-top: 2%;
    margin-bottom: 2%;
}
#clearMap{
    width: 20%;
    margin-top: 1%;
}
#searchButton{
    margin-top:1%;
}
.alert-success_lat, .alert-success_lon{
    display: none;
}