@font-face {
    font-family: "ComfortaaR";
    src: url('../font/comfortaa/Comfortaa-Regular.ttf')
}
body{
    background-color: #F3D6A8;
    font-family: "ComfortaaR", Arial;
}
hr{
    border: 2px #C5A077 solid;
}
input{
    margin-bottom: 3%;
}
#title{
    margin-top: 15%;
    font-size: 1.5em;
}
#searchButton{
    background-color: #7EBEA5;
    border-color: #7EBEA5;
}
#clear{
    background-color: #986A46;
    border-color: #986A46;
}
.accept, .refuse{
    margin: 0.5% 0.5% 0.5% 1%;
}
.pagination>.active>a{
    z-index: 3;
    color: #fff;
    background-color: #986A46;
    border-color: #986A46;
    cursor: default;
}
.pagination>.active>a:hover{
    background-color: #986A46;
}
.pagination>li>a{
    z-index: 3;
    color: #fff;
    background-color: #7EBEB0;
    border-color: #7EBEB0;
    cursor: default;
}
.pagination>li>a:hover{
    cursor: pointer;
}
.return{
    background-color: #477E68;
    border-color: #387392;
    color:white;
    font-family: "ComfortaaB", Arial;
}
.description, .imgMsg, .link{
    margin-top:2%;
}
.imgObservation{
    width: 160px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}
.thumbnail{
    width: 200px;
}
@media screen and (min-width: 800px) {
    #birdField{
        width: 50%;
    }
    #title{
        margin-top: 5%;
    }
}